
<nav class="navbar" style="background-color: rgba(196, 38, 38, 0.88);">
  <div class="container-fluid" >
    <a class="navbar-brand mb-3 h3"  padding="50px"  > VOTRE VOITURE, VOTRE STYLE  </a>
    <form class="d-flex" role="search"  >
      <input class="form-control me-2"  type="search" placeholder="Search" aria-label="Search" >
      <button class="btn btn-outline-light" type="submit" > Chercher </button>
    </form>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm" >
            <div class="card">
    <img src="\assets\FlashDash.JPG" alt="prduit" style="width:100%">
    <h1>Flash Dasboard</h1>
    <p> Produit nettoyant pour tableau de bord, effet brillant- 500ml.</p>
    <p><button>11TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\dashboardpolish.JPG" alt="prduit" style="width:100%">
    <h1>Silicone Polish</h1>
    <p> Polish tableau de bord avec parfum intense - 500 ml.</p>
    <p><button>7TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\Brillcar.JPG" alt="prduit" style="width:100%">
    <h1>Brill Car</h1>
    <p>UPER BRILL Émulsion autolustrante très haute résistance.</p>
    <p><button>12TND</button></p>
  </div></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm" >
            <div class="card">
    <img src="\assets\bordnet.JPG" alt="prduit" style="width:100%">
    <h1>Bordnet</h1>
    <p>Renovateur Tableau de bord Bordnet Volume. </p>
    <p><button>20TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\carshampo.JPG" alt="prduit" style="width:100%">
    <h1>Car Shampo</h1>
    <p>Produit une mousse forte et forte sur le véhicule. </p>
    <p><button>12TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\wd-40.JPG" alt="prduit" style="width:100%">
    <h1>WD-40</h1>
    <p>Supprime les grincements, nettoie et protége. </p>
    <p><button>13.5TND</button></p>
  </div></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm" >
            <div class="card">
    <img src="\assets\dashboardwipes.JPG" alt="prduit" style="width:100%">
    <h1>Dashboard Wipes</h1>
    <p>Des lingettes pour le nettoyage contenant un additif antistatique. </p>
    <p><button>12TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\arexons.JPG" alt="prduit" style="width:100%">
    <h1>Nettoyant Moteur</h1>
    <p>Convient pour le lavage externe de tous les moteurs.</p>
    <p><button>15TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\ref.JPG" alt="prduit" style="width:100%">
    <h1>L.refroidissement</h1>
    <p>Améliore la visibilité et la propreté sans laisser de résidu. </p>
    <p><button>20TND</button></p>
  </div></div>
</div>