<div class="header">
    <section class="showcase" >
      
      <div class="overlay"></div>
      <div class="text">
        <h2>10% OFFERT</h2> 
        <h3>EN T'ABONNANT A LA NEWSLETTER !</h3>
    
        <a href="#">Explore</a>
      </div>
      <ul class="social">
        <!--Page facebook groupe FALTA-->
        <li><a href="https://www.facebook.com/profile.php?id=100063693924170"><img src="https://i.ibb.co/x7P24fL/facebook.png" alt=""></a></li>
        <li><a href="https://www.instagram.com/k.arhabty/"><img src="https://i.ibb.co/ySwtH4B/instagram.png" alt=""></a></li>
      </ul>
    </section>
    </div>

