
<form action="" class="search-bar">
	<input type="search" name="search" pattern=".*\S.*" required>
	<button class="search-btn" type="submit">
		<span>Search</span>
	</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-sm" >
            <div class="card">
    <img  src="\assets\IMG_0755.JPG" alt="prduit" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="C:\Users\LENOVO\Desktop\Mini_projet_fullstack\frontend\card1.JPG" alt="prduit" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="bg.png" alt="prduit" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
  </div></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm" >
            <div class="card">
    <img src="C:\Users\LENOVO\Desktop\Mini_projet_fullstack\frontend\card1.JPG" alt="prduit" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="C:\Users\LENOVO\Desktop\Mini_projet_fullstack\frontend\card1.JPG" alt="prduit" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="bg.png" alt="prduit" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
  </div></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm" >
            <div class="card">
    <img src="C:\Users\LENOVO\Desktop\Mini_projet_fullstack\frontend\card1.JPG" alt="prduit" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="C:\Users\LENOVO\Desktop\Mini_projet_fullstack\frontend\card1.JPG" alt="prduit" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="bg.png" alt="prduit" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
  </div></div>
</div>
