
<nav class="navbar" style="background-color: rgba(196, 38, 38, 0.88);">
  <div class="container-fluid">
    <a class="navbar-brand mb-3 h3"  padding="50px" > VOTRE VOITURE, VOTRE STYLE  </a>
    <form class="d-flex" role="search"  >
      <input class="form-control me-2"  type="search" placeholder="Search" aria-label="Search" >
      <button class="btn btn-outline-light" type="submit" > Chercher </button>
    </form>
  </div>
</nav>



<div class="container">
    <div class="row">
        <div class="col-sm" >
            <div class="card">
    <img  src="\assets\diffuseur.JPG" alt="prduit" style="width:100%">
    <h1>Diffuseur</h1>
    <p>Longue durée à suspendre au rétroviseur, parfumera agréablement votre voyage.</p>
    <p><button>15TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\Porte-coblet.JPG" alt="prduit" style="width:100%">
    <h1>Support</h1>
    <p>Cendrier à cigarettes en plastique, porte-gobelet avec couvercle pour bureau/maison/voiture.</p>
    <p><button>15TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\papier.JPG" alt="prduit" style="width:100%">
    <h1>Boite Papier</h1>
    <p>Porte papier en Cuir véritable à l'extérieur, fabriqué à la main en 3 couleurs.</p>
    <p><button>20TND</button></p>
  </div></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm" >
            <div class="card">
    <img src="\assets\dos.JPG" alt="prduit" style="width:100%">
    <h1>Lombaire</h1>
    <p> Coussin de soutien lombaire en maille  permet un flux d'air pour votre confort personnel.</p>
    <p><button>25TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\supporttel.JPG" alt="prduit" style="width:100%">
    <h1>Support</h1>
    <p>Support de Voiture Pour Téléphone Portable - Support Magnétique - Rotation 360°.</p>
    <p><button>35TND</button></p>
  </div></div>
 
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\coussin.JPG" alt="prduit" style="width:100%">
    <h1>Support téte</h1>
    <p>L'appui-tête de voiture en mousse protège la voiture des épaules avec l'appui-tête respirant.</p>
    <p><button>35TND</button></p>
  </div></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm" >
            <div class="card">
    <img src="\assets\anjelever.JPG" alt="prduit" style="width:100%">
    <h1>Enjoliveur</h1>
    <p>Set de 4 Enjoliveurs WRC Bicolor au look sportif et au design racé.</p>
    <p><button>45TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\supp.JPG" alt="prduit" style="width:100%">
    <h1>Support</h1>
    <p>Support magnétique puissant en forme de L pour smartphone.</p>
    <p><button>25TND</button></p>
  </div></div>
  <div class="col-sm" >
  <div class="card">
    <img src="\assets\support-tablette.JPG" alt="prduit" style="width:100%">
    <h1>Support</h1>
    <p>Support de téléphone ou tablette main libre en Métal.</p>
    <p><button>45TND</button></p>
  </div></div>
</div>
