
<div class="container">
    <div class="row">
        <div class="row">
            <h1><a href="page-acc"> Cache Volant <i class="fa fa-hand-o-down" aria-hidden="true"></i></a></h1>
        <div class="col-sm" >
            <div class="product-card">
                <div class="badge">Favoris</div>
                <div class="product-tumb">
                    <img src="\assets\cachevolant.JPG" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Réf : 400</span>
                    <h4><a href=""> En cuir véritable </a></h4>
                    Pour un diamètre extérieur standard de 37-38 cm.
                    /Compatible avec 96 % des voitures, environ.
                    /En micro-fibres de cuir.
                    
                    <div class="product-bottom-details">
                        <div class="product-price"><small>35TND</small>25TND</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-sm">
                <div class="product-card">
                    <div class="badge">Favoris</div>
                    <div class="product-tumb">
                        <img src="\assets\cachevolant1.JPG" alt="">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">Réf : 403</span>
                    <h4><a href=""> En cuir véritable </a></h4>
                    Pour un diamètre extérieur standard de 37-38 cm.
                    /Poignée douce, propre, exquise et confortable
                    /En micro-fibres de cuir.

                    <div class="product-bottom-details">
                        <div class="product-price"><small>35TND</small>30TND</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm">
                    <div class="product-card">
                        <div class="badge">Favoris</div>
                        <div class="product-tumb">
                            <img src="\assets\cachevolant2.JPG" alt="">
                        </div>
                        <div class="product-details">
                        <span class="product-catagory">Réf : 408</span>
                    <h4><a href=""> En Fourrure  </a></h4>
                    Pour un diamètre de taille moyenne 37-38 cm.
                    /Facile à nettoyer 100% lavable.
                    /Fourrure de haute qualité
                    <div class="product-bottom-details">
                        <div class="product-price"><small>45TND</small>40TND</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href="page-panier"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
    </div>
</div>
