<div class="bg-img">
    <div class="content">
        <header> Connecter Vous ! </header>
        <h6 style="color: aliceblue;" *ngIf="log">Password Or Email Incorrect</h6>
      <form  #loginFrom="ngForm" (ngSubmit)="login(loginFrom.value)">

        <div class="field space">
          <input type="text" name="email" required  #email placeholder=" Votre Email " ngModel>
        </div>

          <div class="field space">
          <input type="password" name="password" class="pass-key" required  #password placeholder=" Mot de passe" ngModel>
           </div> 
         <br>

         <div class="pass">
            <a routerLink="/mdp">Mot de Passe oublié?</a>
         </div>
           <br>

           <div class="field">
             <input type="submit" [routerLink]="log==false ? ['/home'] : []"  class="center" value="Connexion">
  
             
          </div>
          
          <div class="pass">
            <a routerLink="/home">Annuler</a>
          </div>
  
      </form>
             <br> 
        <div class="signup">
          Vous n'avez pas de compte!
          <a routerLink="/inscription">Inscription</a>
        </div>
      </div>
 </div>
 