<div class="shell">
      <div class="container">
        <div class="row">
          <h1><a href="">  Boutton Léve Vitre Electrique <i class="fa fa-hand-o-down" aria-hidden="true"></i></a></h1>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img">
                <img src="src\Favoris\IMG_0778.JPG" alt="Product" class="img-responsive" />
              </div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>----</span>
                </div>
                <div class="title-product">
                  <h3>-------</h3>
                </div>
                <div class="description-prod">
                  <p>---------</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">00000000</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="src\assets\card1.JPG" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>----</span>
                </div>
                <div class="title-product">
                  <h3>-------</h3>
                </div>
                <div class="description-prod">
                  <p>---------</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">00000000</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="app\assets\bg.png" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>----</span>
                </div>
                <div class="title-product">
                  <h3>-------</h3>
                </div>
                <div class="description-prod">
                  <p>---------</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">00000000</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="1.png" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>----</span>
                </div>
                <div class="title-product">
                  <h3>-------</h3>
                </div>
                <div class="description-prod">
                  <p>---------</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">00000000</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
        