<div class="shell">
      <div class="container">
        <div class="row">
          <h1><a href="page-boutt">  Produit De Nettoyage <i class="fa fa-hand-o-down" aria-hidden="true"></i></a></h1>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img">
                <img src="\assets\dashboard.JPG" alt="Product" class="img-responsive" />
              </div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>ABR MASTER</span>
                </div>
                <div class="title-product">
                  <h3>Dashboard Polish</h3>
                </div>
                <div class="description-prod">
                  <p>Nettoyant tableau de bord efficace et très facile à utiliser.</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">7TND</span></div>
                  <div class="wcf-right"><a href="page-panier" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="\assets\car wash.JPG" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>ARMORALL</span>
                </div>
                <div class="title-product">
                  <h3>Car Wash</h3>
                </div>
                <div class="description-prod">
                  <p>Rinçage propre pour des résultats sans taches.</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">16TND</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="\assets\arexons.JPG" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>AREXONS</span>
                </div>
                <div class="title-product">
                  <h3>Nettoyant Moteur</h3>
                </div>
                <div class="description-prod">
                  <p>Convient pour le lavage externe de tous les moteurs.</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">15TND</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="\assets\refroidissement.JPG" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>PETROLIX</span>
                </div>
                <div class="title-product">
                  <h3>Lave Glace</h3>
                </div>
                <div class="description-prod">
                  <p>Parfumé, N'agresse ni la peinture ni les joints.</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">20TND</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
        