
<ul class="snip1143">
  <br>
  <li class="current"><a href="home" data-hover="Accueil">Accueil</a></li>
  <li><a href="page-boutt" data-hover="Boutton Léve vitre "> <i class="fa fa-microchip" aria-hidden="true"></i> Boutton Léve vitre</a></li>
  <li><a href="page-acc" data-hover="Accessoires"><i class="fa fa-car" aria-hidden="true"></i>Accessoires</a></li>
  <li><a href="page-contact" data-hover="Contact"> <i class="fas fa-phone"> </i>Contact</a></li>
  <!-- <li><a href="#" data-hover="Contact">  <img src="https://i.ibb.co/x7P24fL/facebook.png" alt=""></a></li> -->
  <li><a href="register" data-hover="Login"><i class="fa fa-user-circle" aria-hidden="true"></i>Login </a></li>
  <li><a href="page-panier" data-hover="Panier"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Panier </a></li>
  
</ul>
