<div class="bg-img">
    <div class="content">
       <header> Créer un compte  </header>
       <form action="#">
          <div class="field space">
           <input type="text" required placeholder=" Nom ">
          </div>
          <div class="field space">
            <input type="text" required placeholder=" Prénom ">
           </div>
          <div class="field space">
            <input type="text" required placeholder=" Votre Email ">
           </div>
          <div class="field space">
             <input type="password" class="pass-key" required placeholder=" Mot de passe">
          </div> 
         <br>                                                                                                                                                                                                                                                  
          <div class="field">
             <input type="submit" class="center" value="Créer">
          </div>
          <div class="pass">
            <a routerLink="/register">Annuler</a>
         </div>
       </form>
       <br> 
    </div>
</div>

