*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  .bg-img{
    background: url("src\assets\bg1.png")  ;
    height: 100vh;
    background-size:100%;
    background-position: center;
  }
  .bg-img:after{
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(49, 49, 49, 0.7);
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 70px 30px;
    width: 370px;
    transform: translate(-50%,-50%);
    background: rgba(90, 13, 13, 0.88);
    box-shadow: -1px 4px 28px 0px rgba(164, 146, 146, 0.75);
  }
  .content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
  }
  .field{
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    background: transparent;
  }
  .field span{
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: 2px solid ;
    border-radius: 25px;
    outline: none;
    color: rgb(208, 202, 202);
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }
  .space{
    margin-top: 16px;
  }
  
  .pass a{
    text-align: center;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
  
  }
  .pass:hover a{
    text-decoration: underline;
  }
  .field input[type="submit"]{
    border: 1px solid #ffffff;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    width: 200px;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .field input[type="submit"]:hover{
    background: #836161;
  
  }
  .login{
    color: white;
    margin: 20px 0;
    font-family: 'Poppins',sans-serif;
  }
  .signup{
    font-size: 15px;
    color: white;
    font-family: 'Poppins',sans-serif;
  }
  .signup a{
    color: #836161;
    text-decoration: none;
    font-weight: bolder; 
  }
  
  .signup a:hover{
    text-decoration: underline;
  }