
.shopping.cart .product-list .table > tbody > tr > td {
    vertical-align: middle;
  }
  
  .shopping.cart .product-list .table img {
    max-width: 70px;
    height: auto;
  }
  
  .shopping.cart .product-list .product-name a {
    color: #000;
    font-weight: 600;
  }
  
  .shopping.cart .product-list .qty {
    width: 65px;
    text-align: center;
    border-color: #eee;
    border: 1px solid #eee;
    padding: 5px;
  }
  
  .shopping.cart .product-list .input-text.form-control {
    width: 30%;
    display: inline-block;
    height: 50px;
  }

  
.product-hover-overlay {
    position: absolute;
    bottom: 120px;
    left: 0px;
    width: 100%;
    -webkit-transition: .4s all;
    transition: .4s all;
    opacity: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
  
  .product-hover-overlay a {
    background: #000;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding-top: 13px;
    -webkit-transition: .2s all;
    transition: .2s all;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    margin: 0px 1px;
  }
  
  .product-hover-overlay a:hover {
    background: #fb5c42;
    color: #fff;
  }
  
  .product-title a {
    color: #000;
    letter-spacing: .5px;
  }
  
  .product-info {
    text-align: center;
  }
  
  .product-info .price {
    color: #777;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .product-info del {
    margin-right: 8px;
  }
  
  .onsale {
    background: #fb5c42;
    display: inline-block;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
  }
  
  .products-main .product-hover-overlay .btn, .products-shop .product-hover-overlay .btn {
    font-size: 14px;
    padding: 10px 29px;
    text-transform: capitalize;
    border-radius: 33px;
    font-weight: 600;
    letter-spacing: .5px;
    background: #fb5c42;
    border-color: #fb5c42;
    color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.06);
  }
  
  .products-main .product-hover-overlay .btn:hover, .products-shop .product-hover-overlay .btn:hover {
    background: #000;
    border-color: #000;
    color: #fff !important;
  }
  
  .share-product li a {
    color: #444;
    font-size: 14px;
  }
  
  .single-product {
    padding: 60px 0 40px;
  }
  
  .single-product .breadcrumb {
    background: transparent;
  }
  
  .single-product .breadcrumb li {
    color: #000;
    font-weight: 200;
  }
  
  .single-product .breadcrumb li a {
    color: #000;
    font-weight: 200;
  }
  
  .single-product .product-pagination li {
    display: inline-block;
    margin: 0 8px;
  }
  
  .single-product .product-pagination li + li:before {
    padding: 0 8px 0 0;
    color: #ccc;
    content: "/\00a0";
  }
  
  .single-product .product-pagination li a {
    color: #000;
    font-weight: 200;
  }
  
  .single-product .product-pagination li a i {
    vertical-align: middle;
  }
  
  .single-product-slider .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
  }
  
  .single-product-slider .carousel-indicators li {
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
  }
  
  .single-product-slider .carousel-indicators li.active img {
    opacity: 1;
  }
  
  .single-product-slider .carousel-indicators li:hover img {
    opacity: 0.75;
  }
  
  .single-product-slider .carousel-indicators li img {
    display: block;
    opacity: 0.5;
  }
  
  .single-product-details .product-price {
    font-family: "Poppins", sans-serif;
  }
  
  .single-product-details .product-price del {
    color: #777;
  }
  
  .single-product-details .cart .btn {
    padding: 8px 12px;
  }
  
  .single-product-details .cart .btn:hover {
    background: #000;
    border-color: #000;
    color: #fff !important;
  }
  
  .single-product-details .product-meta-title {
    width: 20%;
  }
  
  .single-product-details .color-swatches a {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 5px;
  }
  
  .single-product-details .product-size .form-control {
    display: inline-block;
    width: 130px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
  }
  
  .single-product-details .product-category ul {
    width: 140px;
    display: inline-block;
  }
  
  .single-product-details .product-category ul li {
    display: inline-block;
    margin: 5px;
  }
  
  .single-product-details .product-quantity .product-quantity-slider {
    width: 140px;
  }
  
  .single-product-details .product-quantity .product-quantity-slider input {
    width: 130px;
  }
  
  .single-product-details .product-category a {
    color: #000;
    margin-right: 5px;
  }
  
  .single-product-details .product-share a {
    color: #000;
    margin-right: 10px;
  }
  
  .single-product-details .product-share a:hover {
    color: #fb5c42;
  }
  
  .product-info-tabs {
    border-bottom: 1px solid #dedede;
  }
  
  .product-info-tabs .nav-tabs a {
    color: #000;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  
  .product-info-tabs .nav-tabs .nav-link {
    border: 1px solid #dedede;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #ccc;
  }
  
  .product-info-tabs .nav-tabs .nav-link.active {
    color: #000;
  }
  
  .product-info-tabs .nav-tabs {
    border-bottom: 0px;
  }

  .cart-dropdown .cart-price {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 200;
  }

  
.cart-summary .total-price {
    float: right;
  }

  .single-product-details .product-quantity .product-quantity-slider {
    width: 140px;
  }
  
  .single-product-details .product-quantity .product-quantity-slider input {
    width: 130px;
  }

  table.cart tr:first-child td.product-remove {
    border-top-width: 1px;
  }

  table.cart tr:first-child td.product-remove {
    border-top-width: 1px;
  }

  table.cart tr:first-child td.product-remove {
    border-top-width: 1px;
  }

  .shopping.cart .product-list .product-name a {
    color: #000;
    font-weight: 600;
  }
  .popular-products-item .price {
    color: #777;
  }
  .single-product-details .product-price {
    font-family: "Poppins", sans-serif;
  }
  
  .single-product-details .product-price del {
    color: #777;
  }
  .product-info .price {
    color: #777;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .cart-summary .total-price {
    float: right;
  }
  .cart-dropdown .cart-price {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 200;
  }
  .cart-dropdown .remove {
    padding: 1px 6px;
    position: absolute;
    right: 0;
    top: 0;
    color: #000 !important;
    font-size: 12px;
  }
  .cart-info h5 {
    font-weight: 400;
  }
  
  .cart-info ul span {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  
  .cart-info ul li {
    border-bottom: 1px solid #dedede;
  }

  
  
  .btn {
    font-size: 18px;
    letter-spacing: .5px;
    padding: 14px 35px;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 0px;
    border: 2px solid transparent;
  }

  .btn-main {
    background: #fb5c42;
    color: #fff !important;
    border-color: #fb5c42;
  }
  
  .btn-main:hover {
    background: transparent;
    border-color: #fb5c42;
    color: #000 !important;
  }
  
  .btn-main-transparent {
    background: transparent;
    border: 2px solid #fb5c42;
    color: #000;
  }
  
  .btn-main-transparent:hover {
    background: #fb5c42;
    color: #fff;
  }
  
  .btn-solid-border {
    border: 2px solid #000;
    background: #000;
    color: #fff;
  }
  
  .btn-solid-border:hover {
    background: #fb5c42;
    color: #fff !important;
    border-color: #fb5c42;
  }
  
  .btn-transparent {
    background: transparent;
    color: #000 !important;
    border: 2px solid #000;
  }
  
  .btn-transparent:hover {
    background: #fb5c42;
    color: #fff !important;
    border-color: #fb5c42;
  }
  
  .btn-black {
    background: #000;
    color: #fff;
    border-color: #000;
  }
  
  .btn-black:hover {
    background: #fb5c42;
    color: #fff;
    border-color: #fb5c42;
  }
  
  .btn-small {
    padding: 10px 25px;
  }
  
  .btn-extra-small {
    padding: 5px 10px;
    font-size: 12px;
  }
  
  .btn.active:focus,
  .btn:active:focus,
  .btn:focus {
    outline: 0;
    box-shadow: none;
  }
  
  .btn:focus {
    color: #ddd;
  }
  