.container
{
  position: relative;
    top: 200px;
    width: 100%;
}

.shopping.cart .product-list .table > tbody > tr > td {
    vertical-align: middle;
  }
  
  .shopping.cart .product-list .table img {
    max-width: 70px;
    height: auto;
  }
  
  .shopping.cart .product-list .qty {
    width: 65px;
    text-align: center;
    border-color: #eee;
    border: 1px solid #eee;
    padding: 5px;
  }
  
  .shopping.cart .product-list .input-text.form-control {
    width: 30%;
    display: inline-block;
    height: 50px;
  }

  .cart-dropdown .cart-price {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 200;
  }

  
  .shopping.cart .product-list .product-name a {
    color: #000;
    font-weight: 600;
  }
  
  .cart-dropdown .cart-price {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 200;
  }
  .cart-dropdown .remove {
    padding: 1px 6px;
    position: absolute;
    right: 0;
    top: 0;
    color: #000 !important;
    font-size: 12px;
  }
  .cart-info h5 {
    font-weight: 400;
  }
  
  .cart-info ul span {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  
  .cart-info ul li {
    border-bottom: 1px solid #dedede;
  }

  .btn {
    font-size: 18px;
    letter-spacing: .5px;
    padding: 14px 35px;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 0px;
    border: 2px solid transparent;
  }

  .btn-main {
    background: #fb5c42;
    color: #fff !important;
    border-color: #fb5c42;
  }
  
  .btn-main:hover {
    background: transparent;
    border-color: #fb5c42;
    color: #000 !important;
  }
  
  .btn-main-transparent {
    background: transparent;
    border: 2px solid #fb5c42;
    color: #000;
  }
  
  .btn-main-transparent:hover {
    background: #fb5c42;
    color: #fff;
  }

  .btn-transparent {
    background: transparent;
    color: #000 !important;
    border: 2px solid #000;
  }
  
  
  .btn-black:hover {
    background: #fb5c42;
    color: #fff;
    border-color: #fb5c42;
  }
  
  .btn-small {
    padding: 10px 25px;
  }
