<div class="bg-img">
    <div class="content">
       <header> RÉINITIALISER  VOTRE  MOT  DE  PASSE  </header>
       <form action="#">
          <div class="field space">
           <input type="text" required placeholder=" E-mail ">
          </div>
          <br>
          <div class="field">
             <input type="submit" class="center" value="Soumettre">
          </div> 
          <div class="pass">
            <a routerLink="/register">Annuler</a>
         </div>
         
       </form>
       
    </div>
</div>

