<input type="checkbox" id="click">
      <label for="click">
      </label>
      <div class="wrapper">
         <div class="head-text">
            Contactez-Nous
         </div>
         <div class="chat-box">
            <div class="desc-text">
               Veuillez remplir le formulaire ci-dessous pour commencer à discuter avec le prochain agent disponible.
            </div>
            <form action="#">
               <div class="field">
                  <input type="text" placeholder="Votre Nom" required>
               </div>
               <div class="field">
                  <input type="email" placeholder="Votre E-mail" required>
               </div>
               <div class="field textarea">
                  <textarea cols="30" rows="10" placeholder="Expliquez vos questions.." required></textarea>
               </div>
               <div class="field">
                  <button type="submit"> Envoyer </button>
               </div>
            </form>
         </div>
      </div>
