<footer class="footer">
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>KARHABTY</h4>
         <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">Contactez-Nous</a></li>
          
         </ul>
       </div>
       <div class="footer-col">
         <h4> Boutton Léve Vitre </h4>
         <ul>
           <li><a href="#">FAQ</a></li>
           <li><a href="#">shipping</a></li>
           <li><a href="#">returns</a></li>
           <li><a href="#">order status</a></li>
           <li><a href="#">payment options</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4> Accessoires </h4>
         <ul>
           <li><a href="#">watch</a></li>
           <li><a href="#">bag</a></li>
           <li><a href="#">shoes</a></li>
           <li><a href="#">dress</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4> Abonnez-vous </h4>
         <div class="social-links">
           <a href="#"> <i class="fab fa-facebook-f"></i></a>
           <a href="#"> <i class="fab fa-instagram"></i></a>
           <a href="#"> <i class="fab fa-google"></i></a>
           
         </div>
       </div>
     </div>
    </div>
 </footer>