<footer class="footer">
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>KARHABTY</h4>
         <ul>
           <li><a href="home">Home</a></li>
           <li><a href="page-contact">Contactez-Nous</a></li>
          
         </ul>
       </div>
       <div class="footer-col">
         <h4> Produit De Nettoyage </h4>
         <ul>
           <li><a href="page-boutt">Dashboard</a></li>
           <li><a href="page-boutt">Car wash</a></li>
           <li><a href="page-boutt">Liquide de refroidissement</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4> Accessoires </h4>
         <ul>
           <li><a href="page-acc">Support</a></li>
           <li><a href="page-acc">Cache-volant</a></li>
           <li><a href="page-acc">Coussin</a></li>
           <li><a href="page-acc">Enjoliveur</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4> Abonnez-vous </h4>
         <div class="social-links">
           <a href="https://www.facebook.com/profile.php?id=100063693924170"> <i class="fab fa-facebook-f"></i></a>
           <a href="https://www.instagram.com/k.arhabty/"> <i class="fab fa-instagram"></i></a>
           <a href="https://mail.google.com/mail/u/0/#inbox"> <i class="fab fa-google"></i></a>
           
         </div>
       </div>
     </div>
    </div>
 </footer>