<div class="shell">
    <div class="container">
      <div class="row">
        <h1><a href="page-acc"> Accessoires <i class="fa fa-hand-o-down" aria-hidden="true"></i></a></h1>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img src="\assets\support.JPG" alt="Product" class="img-responsive" />
            </div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>TELEPHONE</span>
              </div>
              <div class="title-product">
                <h3>Support Téléphone</h3>
              </div>
              <div class="description-prod">
                <p>Support de téléphone main libre en Métal.</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">45TND</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="\assets\cable.JPG" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>CHARGEUR</span>
              </div>
              <div class="title-product">
                <h3>Chargeur de voiture</h3>
              </div>
              <div class="description-prod">
                <p>
                  Ports USB: 2 ports USB,
                  Entrée: DC 12-24V,
                  Sortie: 5V-2.1A</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">15TND</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="\assets\diffuseur.JPG" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>DESODORISANT</span>
              </div>
              <div class="title-product">
                <h3>Diffuseur</h3>
              </div>
              <div class="description-prod">
                <p>Un agréable parfum pour votre voiture</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">15TND</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="\assets\cendrillé.JPG" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>CENDRIER</span>
              </div>
              <div class="title-product">
                <h3>Supports de cendres</h3>
              </div>
              <div class="description-prod">
                <p> asse en métal ABS, cendrier Portable</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">18TND</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-shopping-cart"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
