<div class="bg-img">
    <div class="content">
       <header> Connecter Vous ! </header>
       <form action="#">
          <div class="field space">
           <input type="text" required placeholder=" Votre Email ">
          </div>
          <div class="field space">
             <input type="password" class="pass-key" required placeholder="  Mot de passe">
             <!-- <span class="show"> SHOW </span> -->
          </div> <br>
          <div class="pass">
             <a routerLink="/mdp">Mot de Passe oublié?</a>
          </div>
         <br>
         
          <div class="field">
             <input type="submit" class="center" value="Connexion">
          </div>
       </form>
       <br> 
       
       <div class="signup">
          Vous n'avez pas de compte!
          <a routerLink="/inscription">Inscription</a>
       </div>
    </div>
</div>
